#container{
    width: 600px;
    height: 300px;
    border: 10px solid black;
    margin: 0 auto;
}
#container >div{
    width: 300px;
    height: 300px;
    float: left;
}
#mine{
    background-color: lightcyan;
}
#computer{
    background-color: lavender;
}
#computerChoice img{
    transform: scaleX(-1);
}
h1{
    padding-left:50px;
    margin:0;
}
#container >#result{
    font-size: 88px;
    width: 600px;
    text-align: center;
}